.c-button { 
    display: flex;   
    background-color: #FFFFFF;
    color: #2091F9;
    padding: 16px 46px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    outline: none;
    

    &:hover {
        background: rgba(51, 51, 51, 0.58);
        transition-property: all;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: linear;
    }

    &:focus {
        box-shadow: 0 0 10px rgba(15, 130, 238, 1);
    }
}